<h1>Submitted Info</h1>
<p>Name: <%=mydata.name %></p>
<p>Dojo Location: <%=mydata.location %> </p>
<p>Favorite Language: <%=mydata.language %></p>
<p>Comment: <%=mydata.comment %></p>

<br>
<a href="/">Go back</a>